/* src/index.css */
@import 'tailwindcss';

:root {
    --font-inter: 'Inter', sans-serif;
    --primarybg: #eda114;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f96c50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f96c50a3;
    border-radius: 10px;
}

.mask {
    mask-image: url('/assets/maskimage.gif');
    mask-size: cover;
}
.para-style {
    @apply font-medium  text-[#f96c50] tracking-wider;
}
.header-style {
    @apply text-gray-700 capitalize  font-bold text-3xl tracking-widest;
}
.flex-center {
    @apply flex items-center justify-center;
}
.flex-start {
    @apply flex items-start justify-start;
}
.flex-between {
    @apply flex items-center justify-between;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: 'Poppins', sans-serif; /* Fixed: Use sans-serif as fallback */
}

.headerbg {
    @apply bg-[#f2ede4];
}
.hovercolor {
    @apply bg-[#e06149];
}
.active {
    @apply text-[#e06149] scale-110;
}
.btn-hover {
    @apply hover:cursor-pointer hover:opacity-80 transition-opacity duration-300;
}
.img-hover {
    @apply hover:scale-115 transition-all duration-300 cursor-pointer;
}
